{{ $user := "" }}

{{ if .IsNamedParams }}
{{ $user = .Get "user" | default $user }}
{{ else }}
{{ $user = .Get 0 | default $user }}
{{ end }}

<div id="github-projects"></div>

<script src="/js/github.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', async () => {
        let projects = document.getElementById("github-projects");
        let repos = await fetchRepos({{ $user }});

        repos.sort((repo1, repo2) => new Date(repo2.pushed_at) - new Date(repo1.pushed_at));
        repos.forEach(repo => {
            let project = document.createElement("div");
            project.classList.add("project");
            if (repo.archived) project.classList.add("project-archived");
            if (repo.fork) project.classList.add("project-fork");

            let projectImage = document.createElement("img");
            projectImage.classList.add("project-image");
            projectImage.src = "https://raw.githubusercontent.com/" + repo.full_name + "/" + repo.default_branch + "/.github/logo.svg";
            var isPng = false;
            projectImage.onerror = () => {
                if (isPng) {
                    projectImage.src = repo.owner.avatar_url;
                } else {
                    isPng = true;
                    projectImage.src = "https://raw.githubusercontent.com/" + repo.full_name + "/" + repo.default_branch + "/.github/logo.png";
                }
            }
            projectImage.alt = repo.name;
            project.appendChild(projectImage);

            let projectName = document.createElement("h2");
            projectName.innerHTML = repo.name;
            projectName.classList.add("project-name");
            project.appendChild(projectName);

            let projectDescrption = document.createElement("p");
            projectDescrption.innerHTML = (repo.stargazers_count > 0 ? "(&#9733;" + repo.stargazers_count + ") " : "") + (repo.description || "No Description");
            projectDescrption.classList.add("project-description");
            project.appendChild(projectDescrption);


            project.onclick = event => {
                event.preventDefault();
                location.href = repo.html_url;
            }
            projects.appendChild(project);
        })
    })
</script>

<style>
    #github-projects .project {
        text-align: center;
        border: 1px solid black;
        border-radius: 10px;
        margin: 2px 2px;
        width: 32%;
        display: inline-block;
    }

    body[theme=black] #github-projects .project {
        border: 1px solid white;
    }

    body[theme=dark] #github-projects .project {
        border: 1px solid white;
    }

    #github-projects .project-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    #github-projects .project-fork {
        display: none !important;
    }
    
    #github-projects .project-archived {
        border: 1px solid red;
    }
    
    #github-projects .project-archived .project-name {
        text-decoration: line-through;
        color: gray;
    }
    
    #github-projects .project:hover {
        cursor: pointer;
        border: 1px solid lightgray;
    }
    
    #github-projects .project-image {
        width: 200px;
        height: 200px;
    }

    body[theme=black] #github-projects .project-image {
        background-color: white;
    }

    body[theme=dark] #github-projects .project-image {
        background-color: white;
    }
    
    #github-projects .project-description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @media (max-width: 1000px) {
        #github-projects .project {
            width: 100%;
            display: block;
            overflow-y: auto;
        }
    }
</style>